@import "../../../style/index";

.resume-content {
  &-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  &-resume-container {
    display: flex;
    width: 610px;
    margin-bottom: 20px;
    text-align: center;
  }
}
