@import "../../../style/index";

.book-content {
  &-container {
    align-items: center;
    background-color: #080b2e;
    background-image: linear-gradient(#080b2e, #202342, #393b57, #2e4482);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
  }

  &-book-container {
    display: flex;
    margin-bottom: 20px;
    width: 610px;

    & small {
      color: @white;
    }
  }

  &-title {
    margin-bottom: 0.02em;
    margin-top: 0;
  }

  &-search-container {
    display: flex;
    margin-bottom: 15px;

    & > label {
      font-size: 24px;
      margin-right: 10px;
    }

    & > input {
      border-width: 1px;
    }
  }

  &-info-container {
    position: relative;
    margin-left: 10px;
  }

  &-image {
    display: block;
    height: 100%;
    padding: 0;
    width: 200px;

    & > picture > img {
      object-fit: inherit !important;
      margin-bottom: 0;
    }
  }

  &-title {
    margin-bottom: 4px;
    margin-top: 0;
  }

  &-description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 2px;
  }

  &-book-image-link {
    height: 100%;
  }

  &-link {
    bottom: 0;
    color: @white;
    font-size: 42px;
    position: absolute;
    right: 0;
  }

  @media screen {
    @media (max-width: @screen-md) {
      &-book-container {
        max-width: calc(100vw * 0.9);
      }

      &-image {
        max-height: 200px;
        max-width: 150px;
      }
    }
  }

  @media screen {
    @media (max-width: @screen-sm) {
      &-search-container {
        flex-direction: column;
        margin-bottom: 25px;
      }

      &-book-container {
        justify-content: center;
      }

      &-info-container {
        display: none;
      }
    }
  }
}
